input {
  border-radius: 10px 0 0 10px;
}

button {
  border-radius: 0 5px 5px 0;
  background-color: #2391EC;
  color: #ffffff;
  border: none;
  padding: 0 15px;
  text-decoration: none;
  display: inline-block;
}

h1 {
  margin-bottom: 2rem;
}

.input-group {
  width: 60%;
}
