.restaurant {
  background-color: #ffffff;
  padding: 1rem 1rem;
  border-bottom: 1px solid #E9E9E9;
}

input {
  border-radius: 10px 0 0 10px;
}

button {
  border-radius: 0 5px 5px 0;
  background-color: #2391EC;
  color: #ffffff;
  border: none;
  padding: 0 15px;
  text-decoration: none;
  display: inline-block;
}

form {
  width: 60%;
}